---
import Skill from "./Skill.astro";
import SectionContainer from "../SectionContainer.astro";
import { Sparkle } from "../Sparkle";
import ReactLogo from "./images/react.png";
import JavascriptLogo from "./images/javascript.png";
import TypescriptLogo from "./images/typescript.svg";
import NestjsLogo from "./images/nestjs.svg";
import NextjsLogo from "./images/nextjs.svg";
import MongodbLogo from "./images/mongodb.png";
import type { ImageMetadata } from "astro";
type skill = {
  icon: ImageMetadata;
  name: string;
};
const skills: skill[] = [
  { icon: ReactLogo, name: "React" },
  { icon: JavascriptLogo, name: "Javascript" },
  { icon: TypescriptLogo, name: "Typescript" },
  { icon: NestjsLogo, name: "Nestjs" },
  { icon: NextjsLogo, name: "Nextjs" },
  { icon: MongodbLogo, name: "Mongodb" },
];
---

<SectionContainer name="skills">
  <div
    class="grid grid-cols-3 relative justify-self-center z-40 grid-rows-2 gap-2 w-full max-w-[600px]"
    id="skills"
  >
    {skills.map(({ icon, name }) => <Skill name={name} icon={icon} />)}

    <Sparkle position="left-2 bottom-0" size="" client:only />
    <Sparkle position=" right-2" size="" client:only />
  </div>
</SectionContainer>
