---
//import { Image } from "astro:assets";
import { AiOutlineGithub } from "react-icons/ai";
import { ThemeToggle } from "./ThemeToggle";
import { BsCodeSlash } from "react-icons/bs";
import { GiSkills } from "react-icons/gi";
---

<header class="w-full flex justify-between text-lg">
  <a href="/">Logo</a>
  <div class="flex gap-2 font-normal">
    <a href="/#skills" class="navlink"><GiSkills />Skills</a>
    <a href="/#works" class="navlink"><BsCodeSlash />Works</a>
    <a href="" class="navlink"><AiOutlineGithub />Source</a>
    <ThemeToggle client:visible />
  </div>
</header>

<style>
  a {
    display: flex;
    gap: 4px;
    align-items: center;
  }
</style>
