---
import KeyboardModel from "./three/Keyboard";
---

<section class="w-full my-20 flex lg:flex-row flex-col-reverse h-[500px]">
  <div class="max-w-[400px] flex flex-col gap-5 flex-1 font-lato">
    <h1 class="text-[64px]">
      <span class="gradient bg-text font-bold text-[68px]">Hello</span>, <br />
      everyone !
      <span class="inline-block animate-hi"> 👋</span>
    </h1>
     I'm Nadil. I have great interest in full-stack development, coding and
    related things.
    <button class="btn max-w-[130px]">Message me</button>
  </div>
  <div class="flex-1 flex justify-center items-center">
    <KeyboardModel client:visible />
  </div>
</section>
