---
import KeyboardModel from "./three/Keyboard";
import Circle from "./Circle.astro";
const circles = [
  {
    size: "w-32 h-32",
    position: "bottom-[20%] left-8",
    gradientTo: "bg-gradient-to-r",
  },
  {
    size: "2xl:w-[600px] 2xl:h-[600px] lg:w-[400px] md:w-[300px] w-[240px] lg:h-[400px] md:h-[300px] h-[240px]",
    position: "bottom-[25%] sm:right-2 -right-10",
    gradientTo: "bg-gradient-to-t",
  },
  {
    size: "w-[20px] h-[20px]",
    position: "top-[25%] left-[40%]",
    gradientTo: "bg-gradient-to-l",
  },
  {
    size: "w-[50px] h-[50px]",
    position: "sm:top-[55%] top-[45%] left-[25%]",
    gradientTo: " bg-gradient-to-b",
  },
];
---

<section class="w-full flex lg:flex-row flex-col-reverse h-screen relative">
  <div class="max-w-[400px] mt-20 flex flex-col gap-5 flex-1 font-lato">
    <h1 class="sm:text-[64px]">
      <span class="gradient bg-text font-bold cursor-pointer text-[68px]"
        >Hello</span
      >
       , <br />
      <span class="text-[55px]">everyone !</span>
      <span class="inline-block animate-hi"> 👋</span>
    </h1>
     I'm Nadil. I have great interest in full-stack development, coding and
    related things.
    <button class="btn max-w-[130px]">Message me</button>
  </div>
  <div class="flex-1 flex justify-center items-center max-h-[600px] mt-33">
    <!-- <KeyboardModel client:visible /> -->
  </div>
  {
    circles.map(({ size, position, gradientTo }) => (
      <Circle size={size} position={position} gradientTo={gradientTo} />
    ))
  }
</section>
