---
import KeyboardModel from "./three/Keyboard";
import Circle from "./Circle.astro";
import { InViewContainer } from "./InViewContainer";
import { circles } from "../constants/constants";
---

<section class="w-full flex lg:flex-row flex-col-reverse h-screen relative">
  <div class="max-w-[400px] mt-20 flex flex-col gap-5 flex-1 font-lato">
    <h1 class="sm:text-[64px]">
      <span class="gradient bg-text font-bold cursor-pointer text-[68px]"
        >Hello</span
      >
       , <br />
      <span class="text-[55px]">everyone !</span>
      <span class="inline-block animate-hi"> 👋</span>
    </h1>
    <p class="text-lg md:text-xl">
      I'm <strong class="text-2xl">Nadil</strong>. I have great interest in
      full-stack development, coding and related things.
    </p>
  </div>

  <div class="flex-1 flex justify-center items-center max-h-[600px] mt-33">
    <!-- <KeyboardModel client:visible /> -->
  </div>
  {
    circles.map(({ size, position, gradientTo }) => (
      <Circle size={size} position={position} gradientTo={gradientTo} />
    ))
  }
</section>
