---
import { getCollection } from "astro:content";
import SectionContainer from "./SectionContainer.astro";
import Carousel from "./Carousel.astro";
import { InViewContainer } from "./motion/InViewContainer";
const works = await getCollection("works");
const worksData: { title: string; image: string; slug: string }[] = works.map(
  (work) => {
    return { ...work.data, slug: work.slug };
  },
);
---

<SectionContainer name="works">
  <div class="lg:h-[150vh] h-[60vh] sm:h-[70vh] md:h-screen">
    <div class="sticky lg:top-[10vh] top-[5vh]">
      <InViewContainer client:load>
        <Carousel works={worksData} />
      </InViewContainer>
    </div>
  </div>
</SectionContainer>
