@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@layer components {
  .center {
    @apply flex items-center justify-center;
  }
  .btn {
    @apply bg-primary text-lg  text-text hover:-translate-y-2 hover:shadow-primary hover:shadow-lg  px-3 py-4  rounded-md transition-all ease-out  delay-75;
  }
  .gradient {
    @apply bg-gradient-to-r from-primary to-accent text-transparent bg-clip-text;
  }
  .navlink {
    @apply text-text hover:text-primary;
  }
  .title {
    @apply z-40 text-2xl lg:text-4xl font-bold cursor-pointer  font-lato text-accent mb-2 relative after:absolute after:sm:w-[400px] after:w-[200px] after:bottom-3 after:ml-2 after:h-[1px] after:bg-accent;
  }
  .labelText {
    @apply font-bold text-lg cursor-pointer text-white;
  }
  .textHover {
    transition:
      0.35s font-weight,
      0.35s color;
  }
  .textHover:hover {
    font-weight: 900;
    color: var(--color-primary);
  }
  .textHover:hover + .textHover {
    font-weight: 500;
    color: var(--color-primary);
  }
  .textHover:hover + .textHover {
    font-weight: 300;
  }
  .textHover:has(+ .textHover:hover) {
    font-weight: 500;
    color: var(--color-primary);
  }
}
@layer base {
  :root {
    /* light mode defaults */
    --color-text-light: #05051a;
    --color-background-light: #eeeefc;
    --color-primary-light: #e46cac;
    --color-accent-light: #25cb72;
    --color-scroll-light: rgb(75 85 99);

    /* dark mode defaults */
    --color-text-dark: #e5e5fa;
    --color-background-dark: #030311;
    --color-primary-dark: #931b5b;
    --color-accent-dark: #34da82;
    --color-scroll-dark: rgb(107 114 128);
  }

  :root[data-theme="dark"] {
    --color-text: var(--color-text-dark);
    --color-background: var(--color-background-dark);
    --color-primary: var(--color-primary-dark);
    --color-accent: var(--color-accent-dark);
    --color-scroll: var(--color-scroll-dark);
    color-scheme: dark;
  }
  :root[data-theme="light"] {
    --color-text: var(--color-text-light);
    --color-background: var(--color-background-light);
    --color-primary: var(--color-primary-light);
    --color-accent: var(--color-accent-light);
    --color-scroll: var(--color-scroll-light);
    color-scheme: light;
  }

  /* Scrollbar */
  html::-webkit-scrollbar {
    width: 6px;
  }

  html::-webkit-scrollbar-track {
    background: var(--color-background);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  html::-webkit-scrollbar-thumb {
    background: var(--color-scroll);
    border-radius: 20px;
  }
}
