@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}
@tailwind base;
@tailwind components;
@layer components {
  .btn {
    @apply bg-primary text-lg  text-text hover:-translate-y-2 hover:shadow-primary hover:shadow-lg  px-3 py-4  rounded-md transition-all ease-out  delay-75;
  }
  .gradient {
    @apply bg-gradient-to-r from-primary to-accent text-transparent bg-clip-text;
  }
  .title {
    @apply text-4xl font-bold font-lato text-accent mb-2 relative after:absolute after:w-[400px] after:bottom-3 after:ml-2 after:h-[1px] after:bg-accent;
  }
}
@layer base {
  :root {
    --text: #05051a;
    --background: #eeeefc;
    --primary: #e46cac;
    --secondary: #f5f3c7;
    --accent: #25cb72;
    --scroll: rgb(75 85 99);
  }
  .dark {
    --text: #e5e5fa;
    --background: #030311;
    --primary: #931b5b;
    --secondary: #38360a;
    --accent: #34da82;
    --scroll: rgb(107 114 128);
  }
  html::-webkit-scrollbar {
    width: 6px;
  }

  html::-webkit-scrollbar-track {
    background: var(--background);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  html::-webkit-scrollbar-thumb {
    background: var(--scroll);
    border-radius: 20px;
  }
}
